<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Anime Review</title>
	
	<link rel="stylesheet" type="text/css" href="./css/style.css"></link>
	<link rel="stylesheet" type="text/css" href="./css/layout.css"></link>

	<script type="text/javascript">
		function goBack(){
			window.history.back();
		}
	</script>
</head>

<body class="review_body">
	<div class="container_reviewView">
		<header class="anime_header">
			Anime Review  <!-- needs to be bigger -->
		</header>
		<div class="review_info" th:each="animeReview: ${reviewModel}">
			<h2  id="anime_title" th:text="${animeReview.title}"></h2>
			
			<img class="anime_pic" th:src="${animeReview.imageURL}"></img>
			
			<p th:text="${animeReview.animeDescription}"></p>
		</div>
	<footer>
		<button onclick="goBack()">Go Back</button>
		<!-- <a href="category.html" th:href="@{/category(id=${animeReview.category.id})}">Categories</a> -->
	</footer>
	</div> 
</body>
</html>