<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Anime Review</title>
	<script type="text/javascript">
		function goBack(){
			window.history.back();
		}
	</script>
</head>
<body>
	<h1>
		Anime Review
	</h1>	
	<div th:each="animeReview: ${reviewModel}">
		<p th:text="${animeReview.title}" ></p>
		<img th:src="${animeReview.imageURL}"></img>

	</div>
	
<!-- <h3><a th:href="@{/category(id=${review.movieCategory.id})}">Back to Movie Category</a></h3> -->
	<footer>
		<button onclick="goBack()">Go Back</button>
		<!-- <a href="category.html" th:href="@{/category(id=${animeReview.category.id})}">Categories</a> -->
	</footer>
</body>
</html>